@charset "UTF-8";

// Настройка с библиотекой

// Изменить параметры по умолчанию
@use 'library/sumbiot/general/variables' with (
  $container: (
    sm: (breakpoint: 576px, max-width: 540px),
    md: (breakpoint: 768px, max-width: 720px),
    lg: (breakpoint: 992px, max-width: 960px),
    xl: (breakpoint: 1200px, max-width: 1140px)
  )
);

// Шрифты
@use "fonts";

// Библиотеки локальные
@use "library/sumbiot"; //-> кастомный бутстрап

// Библиотеки из node_modules и vendor
@use "components/select2"; //-> кастомные селекты
@use "components/tooltipster"; //-> кастомные всплывающие подсказки
@use "components/progress"; //-> прогресс загрузки

// Блоки
@use "components/loader";
@use "components/form";
@use "components/quantity";


// Настройка без библиотеки

// Шрифты
//@use "fonts";

// Нормализация css
//@use "normalize";

// Анимации
//@use 'animations';

// Базовые настройки
//@use "core";

// Служебные классы
//@use "service";

// Блоки
//@use "components/container";

