@use "sass:map";
@use "sass:meta";
@use "sass:color";

@use "../../variables" as v;
@use "../../function" as f;

/*
  Миксин Кнопка
 */

@mixin button($prefix: v.$prefix) {

  .#{$prefix}Btn {

    @include btn(v.$primary, v.$white){
      display: inline-block;
      vertical-align: middle;

      padding: 10px 20px;
      margin: 0;

      background-color: transparent;

      font-weight: 400;
      font-size: 14px;

      line-height: 1.5;

      color: v.$dark;

      text-align: center;

      outline: none;
      border: 1px solid v.$primary;
      border-radius: 4px;

      box-shadow: none;

      user-select: none;

      cursor: pointer;

      transition: all 0.2s ease;
    };

    &-primary {
      @include btn(v.$primary, v.$white){
        background-color: v.$primary;
        border-color: v.$primary;
        color: #fff;
      }
    }

    &-success {
      @include btn(v.$success, v.$white){
        background-color: v.$success;
        border-color: v.$success;
        color: #fff;
      }
    }

    &-danger {
      @include btn(v.$danger, v.$white){
        background-color: v.$danger;
        border-color: v.$danger;
        color: #fff;
      }
    }

    &-warning {
      @include btn(v.$warning, v.$white){
        background-color: v.$warning;
        border-color: v.$warning;
        color: #fff;
      }
    }

    &-dark {
      @include btn(v.$dark, v.$white){
        background-color: v.$dark;
        border-color: v.$dark;
        color: #fff;
      }
    }

    &-outline-primary {
      @include btn(v.$primary, v.$white){
        border-color: v.$primary;
        color: v.$primary;
      }
    }

    &-outline-success {
      @include btn(v.$success, v.$white){
        border-color: v.$success;
        color: v.$success;
      }
    }

    &-outline-danger {
      @include btn(v.$danger, v.$white){
        border-color: v.$danger;
        color: v.$danger;
      }
    }

    &-outline-warning {
      @include btn(v.$warning, v.$white){
        border-color: v.$warning;
        color: v.$warning;
      }
    }

    &-outline-dark {
      @include btn(v.$dark, v.$white){
        border-color: v.$dark;
        color: v.$dark;
      }
    }
  }

}

// создание кнопки
@mixin btn($bg-color, $txt-color) {

  @content;

  &:hover {
    background-color: color.scale($bg-color, $lightness: -10%);
    color: $txt-color;
  }

  &:focus {
    @media (min-width: 992px) {
      background-color: color.scale($bg-color, $lightness: -10%);
      color: $txt-color;

      box-shadow: 0 0 0 5px color.scale($bg-color, $lightness: 70%);
    }
  }

  &:active {
    background-color: $bg-color;
    color: $txt-color;
  }

}
