@use "variables" as v;
@use "mixins" as m;

//-----===== Базовые настройки ====-----//

html {
  font-size: v.$font-size-basic;
  line-height: v.$line-height-basic;
}

body {
  min-width: 320px;

  background-color: v.$white;

  font-style: v.$font-style-basic;
  font-weight: v.$font-weight-basic;
  font-family: v.$font-family-basic;

  color: v.$black;

  overflow-wrap: break-word;
  word-wrap: break-word;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
